{# HEADER #}
{% set headerData = headerData ?? {} %}
{% set currentRoute = currentRoute ?? '' %}

<nav class="navbar navbar-expand-lg my-lg-3">
    <div class="container-fluid mx-0 px-0">
        <div class="header-container d-flex flex-row ">

            {# Mantra #}
            <div class="container p-0 div-mantra justify-content-center">
                {% set assoMantra = headerData.assoMantra ?? [] %}
                {% if assoMantra is iterable and assoMantra|length >= 2 %}
                    <p class="mentra jennaSue">{{ assoMantra[0] }}<br>
                        <span class="line_mentra">{{ assoMantra[1] }}</span>
                    </p>
                {% else %}
                    <p class="mentra jennaSue">Mantra non défini<br>
                        <span class="line_mentra">-</span>
                    </p>
                {% endif %}
            </div>

            {# Navbar & Logo #}
            <div id="navbarText" class="navbar w-100 d-flex flex-row justify-content-around">
                <div class="container w-100 justify-content-between p-0">
                    <div class="container-fluid flex-row flex-wrap header-buttons navbar-nav mb-lg-0">

                        {# Logo #}
                        {% set logoPath = headerData.assoLogo is defined and headerData.assoLogo is not null ? 'uploads/profiles/SDJ/logo/' ~ headerData.assoLogo : 'path/to/default/logo.png' %}
                        <div class="justify-content-center show-hide">
                            <a class="logo" href="{{ path('app_home') }}">
                                <img src="{{ asset(logoPath) }}" alt="Logo" />
                            </a>
                        </div>

                        {# Vérifier la route pour afficher options #}
                        {% if currentRoute|slice(0,5) == 'admin' or currentRoute|slice(0,8) == 'app_admin' %}
                            {# Déconnexion admin #}
                            <div class="col-lg-12 col-md-4 col-2 align-content-center header-logout">
                                <div class="d-flex justify-content-end">
                                    <a class="profile nav-link" href="{{ path('app_logout') }}" role="button">
                                        <img src="{{ asset('img/icons/log-out.png') }}" alt="Se déconnecter" class="logo-logout" />
                                        <div class="link-text">Déconnexion</div>
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            {# Si pas de login, boutons "J'adhère" et "Nous contacter" #}
                            {% if currentRoute != 'app_login' %}
                                <div class="buttons-header row col">
                                    <div class="support-us col-4">
                                        {% set firstLinkUrl = headerData.assoLinks is iterable and headerData.assoLinks|length > 0 ? headerData.assoLinks[0] : '#' %}
                                        <button class="main-button" onclick="window.open('{{ firstLinkUrl }}', '_blank')">J'adhére</button>
                                    </div>
                                    <div class="contact-us col-8">
                                        <button class="main-button" onclick="window.location.href='{{ path('app_contact') }}'">Nous contacter</button>
                                    </div>
                                </div>
                            {% endif %}

                            {# Lien compte ou login #}
                            {% if currentRoute != 'app_login' %}
                                <div class="col-lg-2 col-md-4 col-6 align-content-center header-manage">
                                    <div class="d-flex justify-content-end">
                                        <a class="profile nav-link" href="{{ path('admin') }}" role="button">
                                            <img src="{{ asset('img/icons/gardener.png') }}" alt="Compte" class="logo-user" />
                                            <div class="link-text">
                                                {% if app.user %}
                                                    Compte
                                                {% else %}
                                                    Connexion
                                                {% endif %}
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}

                            {# Logout si utilisateur connecté #}
                            {% if app.user %}
                                <div class="col-lg-2 col-md-4 col-2 align-content-center header-logout">
                                    <div class="d-flex justify-content-end">
                                        <a class="profile nav-link" href="{{ path('app_logout') }}" role="button">
                                            <img src="{{ asset('img/icons/log-out.png') }}" alt="Se déconnecter" class="logo-logout" />
                                            <div class="link-text" style="color: #000;">Logout</div>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
