<ul class="navbar-nav h-100">
	<div class="d-flex h-100">
		<!-- Sidebar -->
		<div id="sidebar" class="h-100">
			<div class="d-flex flex-column h-100">
				{# SDJ logo #}
				<div class="d-flex justify-content-center">
					<a class="logo" href="{{ path('app_home') }}" target="_blank">
						{% if headerData.assoLogo %}
						{% TESTS EN COURS ... %}
  					<img src="{{ asset('uploads/profiles/SDJ/logo/' ~ headerData.assoLogo) }}" width="150" height="100">
					{% else %}
  					<p>Logo non disponible</p>
					{% endif %}
					</a>
				</div>
				{# Menu #}
				<nav class="nav flex-column">
					<a class="nav-link {{ app.request.attributes.get('_route') == 'app_home' ? 'active' : '' }}" href="{{ path('app_home') }}">
						<span class="me-2">
							<img src="{{asset("img/icons/nichoir_sans_pied.png")}}" width="25" height="25">
						</span>
						Blog - Accueil
					</a>
					<a class="nav-link {{ app.request.attributes.get('_route') == 'app_search' ? 'active' : '' }}" href="{{ path('app_search') }}">
						<span class="me-2">
							<img src="{{asset("img/icons/plantain.png")}}" width="20" height="25">
						</span>
						Ressources
					</a>
					<a class="nav-link {{ app.request.attributes.get('_route') == 'app_google_calendar' ? 'active' : '' }}" href="{{ path('app_google_calendar') }}">
						<span class="me-2">
							<img src="{{asset("img/icons/calendar.png")}}" width="25" height="25">
						</span>
						Calendrier
					</a>
					<a class="nav-link " href="">
						<span class="me-2">
							<img src="{{asset("img/icons/maps.png")}}" width="25" height="25">
						</span>
						Carte des jardins
					</a>
				</nav>
				{# Coordinates #}
				<div class="coordinates-asso align-content-end justify-content-center h-100 px-3 py-5">
					<p class="contact-us text-center fw-bolder fs-5">Contactez-nous</p>
					{% set headerData = app.request.attributes.get('header_data') %}
					<p class="street">
						{{ headerData is not null ? headerData.assoAddress ?? '' }}
					</p>
					<p class="city">
						{{ headerData is not null ? headerData.assoDescription ?? '' }}
					</p>
					<p class="color-green text-center fw-bolder">
						<a href="{{ path('app_contact') }}#simple-list-item-2" class="color-green fw-bolder">Accès à la carte</a>
					</p>
					<p class="email">
						<i class="fa-solid fa-envelope"></i>
						<a href="mailto:{{ headerData is not null ? headerData.assoEmail ?? '' }}"> {{ headerData is not null ? headerData.assoEmail ?? '' }} </a>
					</p>
					<p class="phone">
						<i class="fa-solid fa-phone"></i>
						{{ headerData is not null ? headerData.assoPhone ?? '' }}
					</p>
				</div>
			</div>
		</div>
	</div>
</ul>
